.contato-img {
  background: url(../../img/contato-img-2.jpg) no-repeat;
  background-position: center;
  max-width: 95%;
  height: 600px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer-bg {
  background-color: var(--cor-secundaria);
  margin-top: 70px;
}

.footer {
  background-color: var(--cor-secundaria);
  padding: 20px;
  min-height: 170px;
  display: grid;
}

.footer .redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.redes li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.redes a {
  color: var(--preto);
  transition: 0.4s;
}

.redes a img:hover {
  width: 47px;
  height: 47px;
  transition: 0.4s;
}

@media (max-width: 600px) {
  .footer .redes {
    flex-direction: column;
    gap: 20px;
  }
}
