.footer-bg {
  background-color: var(--cor-primaria);
  margin-top: 70px;
}

.footer {
  background-color: var(--cor-primaria);
  padding: 20px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.blog {
  color: var(--cor-secundaria);
  font: 400 1.5rem/1.125 "Roboto", sans-serif;
}

.blog::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background-color: var(--cor-secundaria);
  margin-top: 2px;
  transition: 0.4s;
}

.blog:hover::after {
  width: 100%;
}

.footer .redes {
  display: flex;
  gap: 70px;
  align-items: center;
  margin-bottom: 10px;
}

.redes li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.redes a {
  color: var(--cor-secundaria);
  font-size: 0.9rem;
}

.footer h4 {
  color: var(--cor-secundaria);
  font: 1rem "Roboto", sans-serif;
}

@media (max-width: 400px) {
  .contato-img {
    display: none;
  }
}
