.footer {
  background-color: var(--cor-secundaria);
  padding: 20px;
  text-align: center;
  margin-top: 100px;
}

.footer .redes {
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-around;
}
