.header-bg {
  background-color: var(--cor-primaria);
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 0.3s;
}

.header-bg.solid {
  background-color: var(--cor-primaria);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 30px;
}

.navegacao ul.desktop {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navegacao ul.desktop a {
  display: block;
  font-size: 1.3rem;
  color: var(--cor-primaria);
  background-color: var(--branco);
  padding: 7px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition: 0.4s;
}

.navegacao ul.desktop a:hover {
  color: var(--branco);
  background-color: var(--contraste-cp);
}

.btn-mobile {
  display: none;
  padding: 5px 15px;
  background: none;
  border: none;
  cursor: pointer;
  gap: 3px;
}

.hamburguer {
  display: block;
  width: 25px;
  color: white;
  border-top: 2px solid white;
}

.hamburguer::before,
.hamburguer::after {
  content: "";
  display: block;
  background: currentColor;
  width: 25px;
  height: 2px;
  margin-top: 5px;
  transition: 0.4s;
  position: relative;
}

@media (max-width: 620px) {
  .navegacao ul.desktop {
    display: none;
  }

  .btn-mobile {
    display: flex;
  }

  .btn-mobile.ativo {
    .hamburguer {
      border-top: transparent;
    }

    .hamburguer::before {
      transform: rotate(135deg);
    }

    .hamburguer::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

  .navegacao ul.mobile {
    display: block;
    width: 100%;
    height: 0px;
    background: var(--cor-primaria);
    position: absolute;
    top: 51px;
    left: 0;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.4s;
  }

  .navegacao ul.mobile.ativo {
    height: calc(100vh - 65vh);
    visibility: visible;
    overflow-y: auto;
  }

  .navegacao ul.mobile a {
    width: max-content;
    margin-left: 20px;
    margin-top: 10px;
    background: none;
    color: var(--branco);
    box-shadow: none;
  }

  .navegacao ul.mobile a:hover {
    color: var(--branco);
    background: none;
  }
}
