.header-bg {
  background-color: #ffffff00;
  position: fixed;
  width: 100%;
  z-index: 1;
  transition: 0.3s;
}

.header-bg.solid {
  background-color: var(--cor-primaria);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 30px;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.header ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header ul a {
  font-size: 1.3rem;
  color: var(--cor-primaria);
  background-color: var(--branco);
  padding: 7px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  transition: 0.4s;
}

.header ul a:hover {
  color: var(--branco);
  background-color: var(--contraste-cp);
}
