.container {
  background-color: var(--branco);
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.6s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
