.container {
  background-color: var(--branco);
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.detalhes-btn {
  width: 100%;
  padding: 7px 12px;
  margin-bottom: 20px;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(158, 17, 240, 1) 0%,
    rgba(78, 12, 116, 1) 50%,
    rgba(61, 11, 90, 1) 100%,
    rgba(86, 12, 128, 1) 100%
  );
  color: var(--cor-secundaria);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.detalhes-btn:hover {
  color: var(--cor-primaria);
  background: var(--branco);
}

.detalhes-btn.active {
  color: var(--cor-primaria);
  background: var(--branco);
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  transition: 0.6s;
}

.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
