.container {
  background-color: var(--branco);
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.detalhes-btn {
  width: 100%;
  padding: 7px 12px;
  margin-bottom: 20px;
  border: none;
  background: var(--cor-primaria);
  color: var(--cor-secundaria);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.detalhes-btn:hover {
  color: var(--cor-primaria);
  background: var(--branco);
}

[data-section="content"] {
  opacity: 0;
}

[data-section="content"].ativo.show-right {
  animation: show-right 0.6s forwards;
}

[data-section="content"].ativo.show-up {
  animation: show-up 0.6s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
