:root {
  --cor-primaria: #6a2df8;
  --cor-secundaria: #fcf7f7;
  --branco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
