:root {
  /* --cor-primaria: #412df8; */
  /* --cor-primaria: #f7237b; */
  --cor-primaria: #1c84df;
  --contraste-cp: #004fac;
  --cor-secundaria: #f6f7f9;
  --branco: #ffffff;
  --preto: #1d1d1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.cursos::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  height: 8px;
}

.cursos::-webkit-scrollbar-track {
  background: var(--cor-secundaria); /* color of the tracking area */
  border-radius: 20px;
}

.cursos::-webkit-scrollbar-thumb {
  background-color: var(--contraste-cp); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

/* Works FireFox */
.cursos {
  scrollbar-width: auto;
  scrollbar-color: var(--contraste-cp) var(--cor-secundaria);
}
