.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
}

.introducao img {
  border-radius: 4px;
}

.cursos-destaques h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.ebooks-destaques h2 {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.cursos {
  display: flex;
  gap: 10px;
}

.curso {
  max-width: 300px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.curso h3 {
  text-align: center;
}

.detalhes-btn {
  padding: 7px 12px;
  border: none;
  background-color: var(--cor-primaria);
  color: var(--branco);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.detalhes-btn p {
  display: none;
  margin-top: 10px;
}

.detalhes-btn.ativo p {
  display: block;
}
