.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
  padding-top: 160px;
}

.introducao h1 {
  position: relative;
}

.introducao h1::before {
  content: "";
  width: 50px;
  height: 20px;
  background-color: var(--cor-primaria);
  position: absolute;
  left: 0px;
  top: -40px;
}

.introducao h1::after {
  content: "";
  width: 50px;
  height: 20px;
  background-color: var(--cor-primaria);
  position: absolute;
  right: 0px;
  bottom: -40px;
}

.introducao img {
  border-radius: 4px;
}

.cursos-destaques {
  padding-top: 110px;
}

.cursos-destaques h2,
.ebooks-destaques h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.cursos {
  display: flex;
  max-width: 1200px;
  overflow-x: auto;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  justify-items: center;
  gap: 4rem;
}

.curso {
  min-width: 210px;
}

.curso h3 {
  text-align: center;
  height: 75px;
}

.div-curso {
  max-width: 300px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.detalhes-btn {
  width: 100%;
  padding: 7px 12px;
  margin-bottom: 20px;
  border: none;
  background-color: var(--cor-primaria);
  color: var(--branco);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.detalhes-btn:hover {
  color: var(--cor-primaria);
  background-color: var(--branco);
}

.detalhes-btn.active {
  color: var(--cor-primaria);
  background-color: var(--branco);
}

.div-curso p {
  display: none;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.2rem;
  text-align: left;
}

.div-curso p.ativo {
  display: block;
}
