.banner {
  max-width: 100%;
  height: 600px;
  background: url(../../img/banner-afiliados.jpg) no-repeat;
  background-size: cover;
  background-position: 0 50%;
  object-fit: contain;
  position: relative;
}

.banner-text {
  text-align: center;
  width: 100%;
  /* background-color: greenyellow; */
  padding: 100px;
  height: 600px;
}

.banner-text-detalhe {
  color: var(--cor-primaria);
}

.banner-text h2 {
  color: var(--branco);
  font-style: italic;
  /* background-color: rebeccapurple; */
  max-width: 100%;
  padding: 10px;
  margin-top: 80px;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
  padding-top: 160px;
}

.introducao-titulo {
  position: relative;
  padding: 20px 0px;
}

.h1-intro {
  margin-bottom: 20px;
}

.p-intro {
  line-height: 1.3;
}

.introducao-titulo::before {
  content: "";
  width: 50px;
  height: 20px;
  background-color: var(--cor-primaria);
  position: absolute;
  left: 0px;
  top: -40px;
}

.introducao-titulo::after {
  content: "";
  width: 50px;
  height: 20px;
  background-color: var(--cor-primaria);
  position: absolute;
  right: 0px;
  bottom: -40px;
}

.introducao.img img {
  border-radius: 4px;
}

.cursos-section {
  padding-top: 110px;
}

.cursos-ebooks {
  display: flex;
  max-width: 1200px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  justify-items: center;
  gap: 3.5rem;
}

.btns-scroll {
  display: flex;
  align-items: center;
  gap: 40px;
  width: max-content;
  /* background-color: rebeccapurple; */
  margin: 20px auto;
}

#btn-voltar-ebooks,
#btn-avancar-ebooks,
#btn-voltar-cursos,
#btn-avancar-cursos {
  display: block;
  font: 200 1.2rem/1.125 "Roboto", sans-serif;
  color: var(--contraste-cp);
  cursor: pointer;
}

.curso,
.ebook {
  min-width: 210px;
  height: auto;
}

.curso a,
.ebook a {
  position: relative;
  display: flex;
}

.curso a::after,
.ebook a::after {
  content: "";
  text-align: center;
  width: 100%;
  height: 0px;
  background: linear-gradient(
    90deg,
    rgba(158, 17, 240, 1) 0%,
    rgba(78, 12, 116, 1) 50%,
    rgba(61, 11, 90, 1) 100%,
    rgba(86, 12, 128, 1) 100%
  );
  display: inline-block;
  position: absolute;
  color: var(--cor-secundaria);
  transition: 0.4s;
}

.curso h3,
.ebook h3 {
  text-align: center;
  height: 75px;
}

.curso-ebook-info {
  max-width: 300px;
  background-color: var(--cor-secundaria);
  margin-bottom: 20px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.preco {
  display: inline-block;
  color: #2b2b2b;
  background-color: #bbb7b7;
  border-radius: 4px;
  padding: 4px;
}

.curso-ebook-info p {
  display: none;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.2rem;
  height: auto;
  text-align: left;
  animation: slideDown 0.5s forwards;
}

.curso-ebook-info p.ativo {
  display: block;
}

.faq-section {
  margin-top: 80px;
  margin-bottom: 40px;
}

.js-accordion dt {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-width: max-content;
}

.js-accordion dt::before {
  content: "";
  width: 20px;
  height: 8px;
  background-color: var(--cor-primaria);
  display: inline-block;
  transition: 0.4s;
}

.js-accordion dt.ativo::before {
  transform: rotate(90deg);
}

.js-accordion dd {
  display: none;
  animation: slideDown 0.5s forwards;
}

.js-accordion dd.ativo {
  display: block;
}

.contato-img {
  padding: 30px;
  margin: 0 auto;
}

.contato-section {
  display: flex;
  flex-direction: column;
}

.contato-h2 {
  color: var(--preto);
  text-align: center;
  text-transform: uppercase;
}

.contatos {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 20px auto;
}

.contatos li a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.cursos-section h2,
.ebooks-section h2 {
  color: var(--preto);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.faq-section h2 {
  color: var(--preto);
  text-align: center;
  text-transform: uppercase;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0px;
  }

  to {
    opacity: 1;
    max-height: 250px;
  }
}

@media (min-width: 900px) {
  .curso a:hover::after {
    content: "Ver curso";
    font: 500 1rem/1.125 "Roboto", sans-serif;
    line-height: 40px;
    height: 40px;
    text-transform: uppercase;
  }
  .ebook a:hover::after {
    content: "Ver ebook";
    font: 500 1rem/1.125 "Roboto", sans-serif;
    line-height: 40px;
    height: 40px;
    text-transform: uppercase;
  }
}

@media (max-width: 900px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao-img {
    grid-row: 2;
  }

  .curso a::after {
    content: "Ver curso";
    font: 400 1rem/1.125 "Roboto", sans-serif;
    line-height: 30px;
    height: 30px;
    text-transform: uppercase;
  }

  .ebook a::after {
    content: "Ver ebook";
    font: 400 1rem/1.125 "Roboto", sans-serif;
    line-height: 30px;
    height: 30px;
    text-transform: uppercase;
  }
}

@media (max-width: 620px) {
  .banner {
    display: none;
  }

  .h1-intro {
    font-size: 1.5rem;
  }

  .p-intro {
    font-size: 1.2rem;
  }

  .curso,
  .ebook {
    min-width: 160px;
  }

  .curso-ebook-info h3 {
    font-size: 1.2rem;
  }

  .curso-ebook-info p {
    font-size: 1rem;
  }

  .curso a::after {
    content: "Ver curso";
    font: 400 1rem/1.125 "Roboto", sans-serif;
    line-height: 30px;
    height: 30px;
    text-transform: uppercase;
  }

  .ebook a::after {
    content: "Ver ebook";
    font: 400 1rem/1.125 "Roboto", sans-serif;
    line-height: 30px;
    height: 30px;
    text-transform: uppercase;
  }

  .detalhes-btn {
    text-align: center;
    font-size: 1rem;
  }

  .btns-scroll {
    display: none;
  }

  .faq-section dl dt {
    font-size: 1.25rem;
  }

  .faq-section dl dd {
    width: 30ch;
    font-size: 1rem;
  }
  .js-accordion dt::before {
    width: 10px;
  }
}

@media (max-width: 360px) {
  .introducao {
    padding-top: 125px;
  }

  .introducao-titulo {
    padding: 0px;
  }

  .h1-intro {
    font-size: 1.4rem;
  }

  .p-intro {
    font-size: 1.1rem;
  }

  .cursos-section {
    padding-top: 30px;
  }

  .curso-ebook-info {
    background-color: #ffffff;
    box-shadow: none;
  }

  .curso-ebook-info p {
    font-size: 0.9rem;
    margin-top: -10px;
  }

  .faq-section {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .js-accordion dt {
    position: relative;
  }

  .js-accordion dt::before {
    position: absolute;
    left: -20px;
    width: 15px;
  }

  .faq-section dl dd {
    width: 22ch;
    font-size: 1.1rem;
  }

  .cursos-section h2,
  .ebooks-section h2 {
    font-size: 1.5rem;
  }
  .faq-section h2 {
    font-size: 1.5rem;
  }
  .contato-h2 {
    font-size: 1.5rem;
  }

  .contatos li a {
    font-size: 1rem;
  }
}
