.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
  padding-top: 160px;
}

.introducao-titulo {
  position: relative;
  padding: 20px 0px;
}

.introducao-titulo h1 {
  margin-bottom: 20px;
}

.introducao-titulo p {
  line-height: 1.3;
}

.introducao-titulo::before {
  content: "";
  width: 50px;
  height: 20px;
  background-color: var(--cor-primaria);
  position: absolute;
  left: 0px;
  top: -40px;
}

.introducao-titulo::after {
  content: "";
  width: 50px;
  height: 20px;
  background-color: var(--cor-primaria);
  position: absolute;
  right: 0px;
  bottom: -40px;
}

.introducao.img img {
  border-radius: 4px;
}

.cursos-section {
  padding-top: 110px;
}

.cursos-section h2,
.ebooks-section h2,
.contato-h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.faq-section h2 {
  text-align: center;
  text-transform: uppercase;
}

.cursos {
  display: flex;
  max-width: 1200px;
  overflow-x: auto;
  overflow-y: hidden;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  justify-items: center;
  gap: 3.5rem;
}

.curso {
  min-width: 210px;
}

.curso a {
  position: relative;
  display: flex;
}

.curso a::after {
  content: "";
  text-align: center;
  width: 100%;
  height: 0px;
  background-color: var(--cor-primaria);
  display: inline-block;
  position: absolute;
  transition: 0.4s;
}

.curso a:hover::after {
  content: "Ver curso";
  font: 500 1rem/1.125 "Roboto", sans-serif;
  color: var(--branco);
  line-height: 40px;
  height: 40px;
  text-transform: uppercase;
}

.curso h3 {
  text-align: center;
  height: 75px;
}

.div-curso {
  max-width: 300px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.detalhes-btn {
  width: 100%;
  padding: 7px 12px;
  margin-bottom: 20px;
  border: none;
  background-color: var(--cor-primaria);
  color: var(--branco);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}

.detalhes-btn:hover {
  color: var(--cor-primaria);
  background-color: var(--branco);
}

.detalhes-btn.active {
  color: var(--cor-primaria);
  background-color: var(--branco);
}

.div-curso p {
  display: none;
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 1.2rem;
  text-align: left;
  animation: slideDown 0.5s forwards;
}

.div-curso p.ativo {
  display: block;
}

.faq-section {
  margin-top: 80px;
  margin-bottom: 80px;
}

.js-accordion dt {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-width: max-content;
}

.js-accordion dt::before {
  content: "";
  width: 20px;
  height: 8px;
  background-color: var(--cor-primaria);
  display: inline-block;
  transition: 0.4s;
}

.js-accordion dt.ativo::before {
  transform: rotate(90deg);
}

.js-accordion dd {
  display: none;
  animation: slideDown 0.5s forwards;
}

.js-accordion dd.ativo {
  display: block;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0px;
  }

  to {
    opacity: 1;
    max-height: 250px;
  }
}

@media (max-width: 1000px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao-img {
    grid-row: 2;
  }
}
